body {
    background: #000000 url("background.jpg") no-repeat fixed;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}

.titulo {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
}

.descricao {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}

.formulario {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 45px auto;
    text-align: center;
    background-color: #1207ee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.itens-formulario {
    margin-right: 30px;
}

label {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    color: white;
}

.lista {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    margin: 15px;
}

.input-padrao {
    padding: 12px;
    width: 260px;
    border-radius: 15px;
}

.lista-checkbox {
    color: white;
    margin-left: 32px;
    margin-bottom: 25px;
}

.checkbox {
    all: unset;
    margin: 15px;
    display: inline-block;
}

button {
    display: flex;
    margin-left: 40%;
    padding: 12px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
    transition: transform 450ms;
}
  
button:hover {
    background-color: #000000;
    transition: transform 450ms;
    transform: scale(0.9);
    color: #ffffff;
}
