body {
    background: #000000 url("background.jpg") no-repeat fixed;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}

.titulo {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: 25px;
}

h1 > span {
    border: 5px dashed #ffffff;
    padding: 15px;
  }

.descricao {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    color: white;
    text-align: center;
}

.formulario {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 4px auto;
    text-align: center;
    background-color: #1207ee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.itens-formulario {
    margin-right: 30px;
}

label {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    color: white;
}

.lista {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    margin: 15px;
}

.input-padrao {
    padding: 12px;
    width: 260px;
    border-radius: 15px;
}

.lista-checkbox {
    color: white;
    margin: 25px 0 25px 28px;
}

.checkbox {
    all: unset;
    margin: 15px;
    display: inline-block;
}

button {
    display: flex;
    margin-left: 33%;
    padding: 12px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
    transition: transform 450ms;
}
  
button:hover {
    background-color: #000000;
    transition: transform 450ms;
    transform: scale(0.9);
    color: #ffffff;
}

@media screen and (max-width: 480px) {
	.titulo {
		font-size: 15px;
	}

    button {
        margin: auto;
        margin-left: 35%;
    }
}

